<!DOCTYPE html>
<html lang="en" class="no-js">
  {{ partial "head/head.html" . }}
  <body>
    <noscript
      ><p class="noscript">
        Things would be a lot easier if you just enabled JavaScript.
      </p></noscript
    >
    <main class="container padded center">
      {{- block "main" . }}{{ end -}}
      {{- partial "footer/links.html" . -}}
    </main>
    {{- partial "footer/includes.html" . -}}
  </body>

  {{- $main := resources.Get "main.ts" | js.Build (dict "minify" false) | fingerprint -}}
  <script
    type="text/javascript"
    src="{{ $main.Permalink }}"
    integrity="{{ $main.Data.Integrity }}"
  ></script>
</html>
